.gold-guide {
  h4 {
    text-decoration: underline;
    font-size: 17px;
    font-weight: 700;
  }
  .accordion-item {
    //     &:first-of-type {
    //       border-top-left-radius: 0;
    //       border-top-right-radius: 0;
    //     }
    //     &:last-of-type {
    //       border-bottom-right-radius: 0;
    //       border-bottom-left-radius: 0;
    //     }
    &:focus {
      box-shadow: none;
    }
    &:not(:first-of-type) {
      border-top: var(--bs-accordion-border-width) solid
        var(--bs-accordion-border-color);
    }
  }
}
